* {
  border: 1px solid lightgrey;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}
#headerToolTip {
  display: none;
}
#topNav {
  width: 80vw;
  background-color: grey;
  margin: 1em;
  display: flex;
  flex-direction: column;
  outline: 2px solid black;
}
#subjectNav {
  list-style: none;
  background-color: whitesmoke;
  width: calc(100% - 4px);
  height: 100%;
  padding: 0;
  margin: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
#subjectNav li {
  width:15%;
  height: 5em;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: 1px solid black;
}
#subjectNav li:hover {
  background-color: lightgrey;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.carouselContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
  width: 60vw;
}
.topicDiv {
  flex: 0 0 auto;
  width: 100%;
}
