* {
  border: 1px solid lightgrey;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: none;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}
#headerToolTip {
  display: none;
}
#topNav {
  width: 80vw;
  background-color: grey;
  margin: 1em;
  display: flex;
  flex-direction: column;
  outline: 2px solid black;
}
#subjectNav {
  list-style: none;
  background-color: whitesmoke;
  width: calc(100% - 4px);
  height: 100%;
  padding: 0;
  margin: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
#subjectNav li {
  width:15%;
  height: 5em;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: 1px solid black;
}
#subjectNav li:hover {
  background-color: lightgrey;
  cursor: pointer;
}
#subjectNav li: {

}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.carouselContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 95vw;
}
.topicDiv {
  flex: 0 0 auto;
  background-color: white;
  width: 60%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  overflow-y: hidden;
}
.topicDiv.center {
  display: flex;
  visibility: visible;
  position: absolute;
  z-index: 9999;
  overflow-y: auto;
  opacity: 100%;
}
.topicDiv.next {
  display: flex;
  visibility: visible;
  filter:
    blur(2px)
    brightness(90%);
  transform:
    scale(.95)
    translate(60vw, 0);
  transition-duration: 2s;
}
.topicDiv.last {
  display: flex;
  visibility: visible;
  filter:
    blur(2px)
    brightness(90%);
  transform:
    scale(.95)
    translate(-60vw, 0);
  transition-duration: 2s;
}
.topicDiv h1 {
  text-align: center;
  background-color: whitesmoke;
  margin: 0;
  padding: 3vh;
}
.article {
  height: 15vh;
  padding: 1em;
}
