/* * {
  border: 1px solid lightgrey;
} */
html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: none;
}
header {
  background-color: lightgrey;
  outline: 1px solid black;
  outline-offset: -3px;
  outline-style: double;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  filter: drop-shadow(.25em .25em 2px black);
}
#headerToolTip {
  display: none;
}
#topNav {
  width: 80vw;
  background-color: grey;
  margin: 1em;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  outline: 1px solid black;
  outline-offset: -4px;
  filter: drop-shadow(.2em .2em 3px black);
}
#subjectNav {
  list-style: none;
  background-color: whitesmoke;
  width: calc(100% - 4px);
  height: 100%;
  padding: 0;
  margin: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
#subjectNav li {
  width:15%;
  height: 5em;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: 1px solid black;
}
#subjectNav li:hover {
  background-color: lightgrey;
  cursor: pointer;
}
#subjectNav li: {

}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 95vw;
}
#lastTopic {
  z-index: 9999;
  position: fixed;
  margin-top: 20%;
  margin-right: 80%;
}
#nextTopic {
  z-index: 9999;
  position: fixed;
  margin-top: 20%;
  margin-left: 80%;
}
.topicBtn {
  height: 2em;
  width: 1em;
  font-size: 4em;
  background-color: rgba(200, 200, 200, .5);
  border-radius: 10px;
  filter: drop-shadow(2px 2px 1px black);
}
.topicBtn:hover {
  cursor: pointer;
  background-color: rgba(200, 200, 200, .8);
}
.carouselContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  width: 50vw;
}
.topicDiv {
  flex: 0 0 auto;
  background-color: white;
  width: 60%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  overflow-y: hidden;
  border: 3px solid black;
  border-radius: 15px;
}
.topicDiv.center {
  display: flex;
  visibility: visible;
  position: absolute;
  z-index: 9999;
  overflow-y: auto;
  opacity: 100%;
  filter: drop-shadow(.5em .5em 5px black);
  transition-duration: .7s;
}
.topicDiv.next {
  display: flex;
  visibility: visible;
  filter:
    blur(2px)
    brightness(90%)
    drop-shadow(.2em .2em 5px black);
  transform:
    scale(.95)
    translate(60vw, 0);
  transition-duration: .7s;
  pointer-events: none;
}
.topicDiv.last {
  display: flex;
  visibility: visible;
  filter:
    blur(2px)
    brightness(90%)
    drop-shadow(.2em .2em 5px black);
  transform:
    scale(.95)
    translate(-60vw, 0);
  transition-duration: .7s;
  pointer-events: none;
}
.topicDiv.middleNext {
  display: flex;
  visibility: visible;
  filter:
    blur(2px)
    brightness(90%)
    drop-shadow(.2em .2em 5px black);
  transform:
    scale(.95)
    translate(25vw, 0);
  transition-duration: .7s;
  pointer-events: none;
}
.topicDiv.middleLast {
  display: flex;
  visibility: visible;
  filter:
    blur(2px)
    brightness(90%)
    drop-shadow(.2em .2em 5px black);
  transform:
    scale(.95)
    translate(-25vw, 0);
  transition-duration: .7s;
  pointer-events: none;
}
.topicDiv h1 {
  text-align: center;
  background-color: whitesmoke;
  margin: 0;
  padding: 3vh;
}
.article {
  height: 10em;
  padding: 1em;
}
.center.articleLink:hover {
  cursor: pointer;
  background-color: lightgrey;
}
footer {
  margin-top: 2em;
  padding: 4em;
}
#footerDescription {
  display: none;
}
